html {
    color: #333;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}
audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
th {
    text-align: inherit
}
fieldset, img {
    border: 0
}
iframe {
    display: block
}
abbr, acronym {
    border: 0;
    font-variant: normal
}
del {
    text-decoration: line-through
}
address, caption, cite, code, dfn, em, th, var, i, b {
    font-style: normal;
    font-weight: 500
}
ul {
    list-style: none
}
h1, h2, h3, h4, h5, h6, b {
    font-size: 100%;
    font-weight: 500
}
q:before, q:after {
    content: ''
}
a {
    color: #666;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}
a:visited, a:hover {
    color: #666;
    text-decoration: none
}
html, body {
    min-height: 100%
}
html, body, button, input, select, textarea {
    font: 14px/1.5 arial, Microsoft YaHei, \5b8b\4f53;
    color: #333
}
input, select, textarea {
    font-size: 100%
}
ins, a {
    text-decoration: none
}
img{
    width: 100%;
}
.clear{
    clear:both;
}
/*------------------------------------------------*/
@media screen and (min-width:240px) {
    html, body, button, input, select, textarea {
        font-size: 9px
    }
}
@media screen and (min-width:320px) {
    html, body, button, input, select, textarea {
        font-size: 12px
    }
}
@media screen and (min-width:380px) {
    html, body, button, input, select, textarea {
        font-size: 14px
    }
}
@media screen and (min-width:420px) {
    html, body, button, input, select, textarea {
        font-size: 16px
    }
}
@media screen and (min-width:450px) {
    html, body, button, input, select, textarea {
        font-size: 18px
    }
}
@media screen and (min-width:480px) {
    html, body, button, input, select, textarea {
        font-size: 18px
    }
}
@media screen and (min-width:540px) {
    html, body, button, input, select, textarea {
        font-size: 20.25px
    }
}
@media screen and (min-width:600px) {
    html, body, button, input, select, textarea {
        font-size: 22px
    }
}
@media screen and (min-width:640px) {
    html, body, button, input, select, textarea {
        font-size: 24px
    }
}
@media screen and (min-width:720px) {
    html, body, button, input, select, textarea {
        font-size: 28px
    }
}
@media screen and (min-width:800px) {
    html, body, button, input, select, textarea {
        font-size: 30px
    }
}
@media screen and (min-width:880px) {
    html, body, button, input, select, textarea {
        font-size: 34px
    }
}
@media screen and (min-width:960px) {
    html, body, button, input, select, textarea {
        font-size: 36px
    }
}
/*---------------------------------------------------*/
.main{
    position: relative;
}
.ma{
    position: absolute;
    top:2.8rem;
    left: 0;
    color:#fff;
    font-size: 1.4rem;
}
.ma ul{
    float:left;
    text-align: center;
    margin-left: 1.1rem;
    margin-right: 1.1rem;
}
.ma ul li:first-child{
    color:#acacac;
    font-size: 0.9rem;
}
.huan{
    width: 100%;
    position: absolute;
    top:9rem;
}
.huan1{
    width:20rem;
    height:20rem;
    border:1px solid  rgba(47, 106, 107, 0.4);
    border-radius:20rem;
    margin: 0 auto;
}
.huan2{
    width:15rem;
    height:15rem;
    border:1px solid rgba(47, 106, 107, 0.6);
    border-radius:15rem;
    margin: 2.5rem auto;
}
.huan3{
    width:10rem;
    height:10rem;
    border:1px solid rgba(47, 106, 107,1);
    border-radius:10rem;
    margin: 2.5rem auto;
}
.huan4{
    width:6rem;
    height:6rem;
    background-color:rgba(47, 106, 107,1);
    border-radius:6rem;
    margin: 2rem auto;
}
.huan4 a{
    display: block;
    width:100%;
    height:100%;
}
.huan4 img{
    display: block;
    width:auto;
    height: 100%;
    margin: 0 auto;
}
.zi{
    position: absolute;
    top:19rem;
    right:2.6rem;
    color:#fff;
    font-size: 0.9rem;
}
.zi1{
    position: absolute;
    top:26rem;
    width: 100%;
    text-align: center;
    color:#fff;
}
.log{
    -webkit-animation-name:logo;
    -webkit-animation-duration:3s;
    -webkit-animation-timing-function:ease;
    -webkit-animation-iteration-count:infinite;

    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes logo{
    from{
        -webkit-transform:scale(1, 1);
    }
    50%{
        -webkit-transform:scale(1.5, 1.5);
    }
    to{
        -webkit-transform:scale(1, 1);
    }
}
.huan1{
    -webkit-animation-name:f1;
    -webkit-animation-duration:3s;
    -webkit-animation-timing-function:ease;
    -webkit-animation-iteration-count:infinite;

    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes f1 {
    from{
        border:1px solid rgba(47, 106, 107,1);
    }
    50%{
        border:1px solid rgba(47, 106, 107,0.3);
    }
    to{
        border:1px solid rgba(47, 106, 107,1);
    }
}
.huan2{
    -webkit-animation-name:f2;
    -webkit-animation-duration:3s;
    -webkit-animation-timing-function:ease;
    -webkit-animation-iteration-count:infinite;

    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes f2 {
    from{
        border:1px solid rgba(47, 106, 107,1);
    }
    50%{
        border:1px solid rgba(47, 106, 107,0.4);
    }
    to{
        border:1px solid rgba(47, 106, 107,1);
    }
}
.huan3{
    -webkit-animation-name:f3;
    -webkit-animation-duration:3s;
    -webkit-animation-timing-function:ease;
    -webkit-animation-iteration-count:infinite;

    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes f3 {
    from{
        border:1px solid rgba(47, 106, 107,1);
    }
    50%{
        border:1px solid rgba(47, 106, 107,0.5);
    }
    to{
        border:1px solid rgba(47, 106, 107,1);
    }
}
.huan4{
    -webkit-animation-name:f4;
    -webkit-animation-duration:3s;
    -webkit-animation-timing-function:ease;
    -webkit-animation-iteration-count:infinite;

    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes f4 {
    from{
        background-color:rgba(47, 106, 107,1);
    }
    50%{
        background-color:rgba(47, 106, 107,0.6);
    }
    to{
        background-color:rgba(47, 106, 107,1);
    }
}